# Visual Studio Code workspace -------------------------------------------------
/.vscode

# Sublime Text workspace -------------------------------------------------------
bash-cloud-backup.sublime-workspace

# JetBrains PhpStorm IDE files -------------------------------------------------
/.idea/

/conf/

/on_backup_started.sh
/on_backup_finished.sh
/on_s3_sync_finished.sh
/on_logfile_created.sh